@import './../../scss/variables';
.slider-wrapper{
    min-height:100px;
    .slick-track{
     margin-top:10px
    }
    .slick-slide{
        background-color: #f7f7f7;
        border-radius: 14px;
        text-align: center;
        margin: 0 2px 0 2px;
        white-space: nowrap;
        overflow: hidden;
        padding: 8px;
        text-transform: lowercase;
        cursor: pointer;
    }
    .slick-next:before, .slick-prev:before{
        color:$primaryColor;
        font-size:25px !important;
    }
    .slick-prev:before{
        left:0px !important
    }
}