@import './../../scss/variables';
.form-wrapper{
    .search-input{
    width:70%;
    padding: 1em 3em;
    border-radius: 1em;
    border:1px solid #dfdfdf;
    box-shadow: 0px 1px 12px 1px #e8e8e8;
    }
    .search-icon{
        top:1em;
        left:16%;
    }
}