@import './../../scss/variables';
.form-wrapper{
    .input-holder{
        .search-input{
            width:70%;
            padding: 1em;
            border-radius: 1em;
            border:1px solid #dfdfdf;
            box-shadow: 0px 1px 12px 1px #e8e8e8;
            background-color:$primaryColor;
            color:white;
            }
            // .search-icon{
            //     top:1em;
            //     left:17%;
            //     svg{
            //         fill:white !important;
            //     }
            // }
            ::placeholder{
                color:white
            }
    }
}