@import '../../scss/variables';
.home-wrapper{
    min-height:90vh;
    background-image: url('./../../assets/images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     .search-input-holder {
        width: 100%;
        position: absolute;
        h3{
            font-size:1em;
        }
    }
    .wrapper{
        min-height:100px;
        .slick-track{
         margin-top:10px
        }
        .slick-slide{
            background-color: #f7f7f7;
            border-radius: 14px;
            text-align: center;
            margin: 0 2px 0 2px;
            white-space: nowrap;
            overflow: hidden;
            padding: 8px;
            text-transform: lowercase;
            cursor: pointer;
        }
    }    
}
