@import '../../scss/variables';
.home-wrapper{
    height: 90vh;
    background-image: url('./../../assets/images/image (18).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0.4);
     .search-input-holder {
        width: 100%;
        position: absolute;
       h2{
           font-size:3em;
       }
    }
    .wrapper{
        min-height:100px;
        .slick-track{
         margin-top:10px
        }
        .slick-slide{
            background-color: #f7f7f7;
            border-radius: 14px;
            text-align: center;
            margin: 0 2px 0 2px;
            white-space: nowrap;
            overflow: hidden;
            padding: 8px;
            text-transform: lowercase;
            cursor: pointer;
        }
    }    
}

@media screen and(max-width:768px){
.home-wrapper{
    .search-input-holder {
        h2{
            font-size:1em !important;
        }
    }
  }
}