// .MuiAvatar-img{
//         object-fit: contain;
//     }
    // .MuiAvatar-root{
    //     width:auto;
    //     height:auto
    // }

    .MuiAvatar-root{
        img{
            width:auto;
            height:auto;
            border-radius: 50%;
        }
    }