@import './../../scss/variables';
.card-wrapper{
    flex: 1 1 0px;
    .MuiPaper-root{
        box-shadow:0px 2px 10px 4px rgba(0,0,4,0.1),
         0px 0px 3px -3px rgba(0,0,0,0.14),
         0px 2px 16px 0px rgba(0,0,0,0.12) !important;
    }
    .MuiAvatar-img{
        object-fit: contain;
    }
    .MuiAvatar-root{
        width:auto;
        height:auto
    }
    .MuiCardMedia-root{
        cursor: pointer;
    }
    .no-of-likes{
        color:$secondaryColor;
    }
}
