@import './../../scss/variables';
.card-wrapper{
    flex: 1 1 0px;
    .MuiAvatar-img{
        object-fit: contain;
    }
    .MuiAvatar-root{
        width:auto;
        height:auto
    }
    .MuiCardMedia-root{
        cursor: pointer;
    }
    .no-of-likes{
        color:$secondaryColor;
    }
}
