@import './../../scss//variables';
.dialog-wrapper{
    .img-wrapper{
        min-height:72vh;
    }
    .location{
        color:$secondaryColor;
    }
    .user-name{
        color:$secondaryColor;
    }
}