@import './variables';
.rtl {
    text-align: right;
}
button:focus,input{
    outline:none;
}

.pagination{
    justify-content:center;
    .page-link{
        color:$primaryColor;
    }
    .page-item.active{
        color:white;
        .page-link{
            background-color:$primaryColor;
            border-color:$primaryColor;
        }
    }
}
.no-of-likes{
    color:$secondaryColor;
}

.download-icon:hover{
    fill:$primaryColor;
    font-size: 1.2em;
}

.button-secondary{
 color:$primaryColor;
 background-color: #e9e9e9;
  &:hover{
      color:white;
      background-color: $primaryColor;
  }
}

a:hover{
    text-decoration: none;
}