@import './../../scss/variables';
.slider-wrapper{
    .slick-next:before, .slick-prev:before{
        color:$primaryColor;
        font-size:25px !important;
    }
    .slick-prev:before{
        left:0px !important
    }
}